#mainmenu {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  #mainmenu {
    border: none;
  }
}

#mainmenu .stack {
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #mainmenu .stack {
    display: none;
  }
}

#mainmenu .stack > .MuiListItemText-root {
  margin-top: 0;
}

#mainmenu .stack .MuiListItemText-primary {
  color: #666;
  text-transform: uppercase;
  cursor: pointer;
}

#mainmenu .stack .MuiListItemText-primary:hover {
  color: #000;
}

#leftburger {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #leftburger {
    display: initial;
  }
}
