#leftmenu {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  #leftmenu {
    display: none;
  }
}

#leftmenu .MuiListItemText-primary {
  color: #fff;
}
